<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/styles/manual-exercise.css">
    {{ additional_head_content | safe }}
</head>
<body>
    {{ content | safe }}
    
    <script src="/scripts/app.js"></script>
    <script src="/scripts/manual-exercise.js"></script>
    {{ additional_scripts | safe }}
</body>
</html>
